/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: #000;
}

a.active {
  color: #32CD32; /* LimeGreen color for the active link */
}

/* App container */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.app-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  font-size: 16px;
  color: black;
}

/* Main content */
.main-content {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 20px;
}

.family-tree-section {
  flex: 3;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.family-tree-section h2 {
  margin: 0;
  margin-bottom: 10px;
}

.member-details {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.member-details h2 {
  margin: 0;
  margin-bottom: 20px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-info h3 {
  margin: 0;
  font-size: 20px;
}

.profile-info p {
  margin: 5px 0;
  font-size: 14px;
  color: gray;
}
